.Actions-container {
  padding: 80px 20px 0px 20px;
}

.Button {
  margin-right: 10px;
}

.Card-container {
  padding: 20px 20px 0px 20px;
}

.Edit-button {
  float: right;
}

.Post-tags {
  padding: 5px 5px 5px 5px;
  font-weight: bold;
  background-color: #eee;
  border-radius: 5px 5px 5px 5px;
}
